<nav
    class="box-border bg-zinc-900 w-full flex justify-between items-center h-20 p-4 border-b-1 border-purple-500 shadow-lg"
>
    <h1 class="text-3xl font-[600] w-2/5 pl-4">DevResources</h1>
    <ul class="flex w-3/5 justify-around">
        <li class="pr-2 text-lg hover:text-amber-300">
            <a href="">HOME</a>
        </li>
        <li class="pr-2 text-lg hover:text-amber-300">
            <a href="">ABOUT</a>
        </li>
        <li class="pr-2 text-lg hover:text-amber-300">
            <a href="">FEEDBACK</a>
        </li>
    </ul>
</nav>
