<section class="w-full flex flex-col justify-center items-center gap-4 p-4">
    <div
        class="bg-linear-to-l from-orange-400 to-red-500 text-transparent bg-clip-text pb-4"
    >
        <h2 class="text-2xl md:text-3xl font-bold w-full">Questions</h2>
    </div>

    <details
        class="w-full sm:max-w-5/6 md:max-1/2 lg:max-w-2/3 rounded-lg transition-all duration-300 open:transition-transform ease-in-out open:duration-300 bg-zinc-600"
    >
        <summary
            class="text-amber-300 font-semibold p-4 text-md sm:text-lg md:text-xl"
            >How can I contribute?</summary
        >
        <p
            class="text-zinc-100 p-4 text-md md:text-lg bg-zinc-700 rounded-b-lg"
        >
            You can contribute by sending your suggestions in the <a
                href="/feedback"
                class="text-amber-400 font-bold underline">feedback</a
            > section, or by making a contribution on our <a
                href="https://github.com/ByDiegoBlan/DevResources"
                class="text-purple-400 font-bold underline">GitHub repo.</a
            >
        </p>
    </details>
    <details
        class="w-full sm:max-w-5/6 md:max-1/2 lg:max-w-2/3 bg-zinc-600 rounded-lg transition-all duration-300 open:transition-transform ease-in-out open:duration-300 neur"
    >
        <summary
            class="text-amber-300 font-semibold p-4 text-md sm:text-lg md:text-xl"
            >It´s free?</summary
        >
        <p
            class="text-zinc-100 p-4 text-md md:text-lg bg-zinc-700 rounded-b-lg"
        >
            Yes! Both using and contributing to our website are free.
        </p>
    </details>
    <details
        class="w-full sm:max-w-5/6 md:max-1/2 lg:max-w-2/3 bg-zinc-600 rounded-lg transition-all duration-300 open:transition-transform ease-in-out open:duration-300"
    >
        <summary
            class="text-amber-300 font-semibold p-4 text-md sm:text-lg md:text-xl"
            >I need some experience to contribute?</summary
        >
        <p
            class="text-zinc-100 p-4 text-md md:text-lg bg-zinc-700 rounded-b-lg"
        >
            No worries! <span class="font-bold text-green-400"
                >You don't need experience,</span
            >
            you can contribute whether you're just learning to code or already a
            pro.
        </p>
    </details>
</section>
